@import "tailwindcss";



.perspective {
  perspective: 1200px;
}

.flip-card {
  transform-style: preserve-3d;
  transition: transform 0.7s ease;
}

.group:hover .flip-card {
  transform: rotateY(180deg);
}

.flip-front,
.flip-back {
  backface-visibility: hidden;
}

.flip-back {
  transform: rotateY(180deg);
}

/* Hide horizontal scrollbar for the carousel */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}